SUPABASE_URL=https://bhgffsivsbviusbvsu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCvnjfviuer.eyJpc3MiOiJzdXBhvfsbvhxbjhvInJlZiI6ImVkdnl0c3FneXN2bWp1bmljaHVxIiwicm9v8fsv8ds6ImFub24iLCJpYXQiOjE3Mjk1NDgwNzYsImV4cCI6MjA0NTEyNDA3Nn0.S8HeRrU4k4NXry3Jbso7U1Vo6qPov6NDD5DTS0ognFA